In [2]:
import pymysql

In [17]:
# mysql://bf152025fa6eaf:7fa53522@us-cdbr-iron-east-01.cleardb.net/heroku_7995446f6f15d7a?reconnect=true
conn = pymysql.connect(host="us-cdbr-iron-east-01.cleardb.net", port=3306, user="bf152025fa6eaf", passwd="7fa53522", db="heroku_7995446f6f15d7a")

In [18]:
cur = conn.cursor()
cur.execute("SELECT * FROM test")
for r in cur.fetchall():
    print(r)

(0, 'insertion_test')
(2, 'demo johan')
(1, 'thuis')
(1, 'thuis')

In [19]:
cur.execute("INSERT INTO test (id, test_name) VALUES(3, %s)", "Nog eens")

1

In [20]:
for r in cur.fetchmany():
    print(r)

TypeError: 'NoneType' object is not iterable

In [21]:
print(cur.fetchone())

None

In [22]:
conn.commit()

In [23]:
cur.execute("SELECT * from test")

5

In [14]:
for r in cur.fetchall():
    print(r)

(0, 'insertion_test')
(2, 'demo johan')
(1, 'thuis')
(1, 'thuis')